* {
  font-family: sans-serif;
}

body {
  background-image: url("blue.jpg");
  color: #cccccc;
  margin: 0px;
  padding: 0px;
}

#background {
  position: fixed;
  z-index: -2;
}

#egg {
  position: fixed;
  z-index: -1;
  margin: 250px 50px 0px 0px;
}

div {
  padding: 0px 20px;
  margin: 0px 100px;
  margin-bottom: 1000px;
}

#ford_logo {
  margin: 30px auto;
  width: 300px;
}

section {
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #192435;
  margin: 30px auto;
  border-radius: 0px 0px 40% 0px;
}

h3 {
  letter-spacing: .4em;
  font-size: 1em;
}

hr {
  border-color: black;
}

h1 {
  margin: 85px auto 0px auto;
  min-width: 300px;
  font-family: cursive;
  font-size: 400%;
  text-shadow: 1px 3px black;
}

h4 {
  text-shadow: 1px 2px black;
  margin: 0px;
  font-family: monospace;
}

p {
  padding-left: 20px;
  line-height: 150%;
}

table {
  padding-bottom: 10px;
}

td {
  padding: 4px;
  padding-left: 20px;
  min-width: 101px;
}

li {
  line-height: 160%;
}

p, li, td {
  letter-spacing: 2px;
  font-size: 13px;
}
