* {
  font-family: arial;
}

body {
  background-image: url("ford-logo.png");
  color: #eaeaea;
}

div {
  padding: 0px 20px;
  margin: 0px 100px;
}

header {
  text-align: center;
  background-color: #1351cc;
  border-radius: 50%;
  border: 9px double #cccccc;
  padding-top: 4px;
  margin: auto;
  width: 70%;
}

section {
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #192333;
  margin: 5px auto;
}

hr {
  border-color: black;
}

h1 {
  display: inline;
  margin-left: 30px;
  font-family: cursive;
  text-shadow: 1px 2px black;
}

h4 {
  margin-left: 10px;
  display: inline;
  font-family: monospace;
}

p {
  padding-left: 20px;
  line-height: 130%;
}

table {
  padding-bottom: 10px;
}

td {
  padding: 4px;
  padding-left: 20px;
}

li {
  padding-bottom: 5px;
}
