* {
  font-family: arial;
}

body {
  background-image: url("ford-logo.png");
  color: #eaeaea;
}

div {
  padding: 0px 20px;
  margin: 0px 100px;
}

header {
  text-align: center;
  background-image: url("TopbarGradient.png");
  /*background-color: #1351cc;*/
  border-radius: 50%;
  border: 9px double #cccccc;
  padding-top: 0px;
  margin: auto;
  width: 70%;
  height: 80px;
}

section {
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #192333;
  margin: 5px auto;
}

hr {
  border-color: black;
}

h1 {
  margin: 3px auto 0px auto;
  min-width: 300px;
  font-family: cursive;
  text-shadow: 1px 3px black;
}

h4 {
  text-shadow: 1px 2px black;
  margin: 0px;
  font-family: monospace;
}

p {
  padding-left: 20px;
  line-height: 130%;
}

table {
  padding-bottom: 10px;
}

td {
  padding: 4px;
  padding-left: 20px;
  min-width: 101px;
}

li {
  line-height: 160%;
}
